@media screen and (max-width: 900px) {
    #image{
       margin-top: 40px;
    }
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    article{
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 0.5s all;
    }
    article > form{
        max-width: 100%;
        align-items: center;
    }
    .fieldform{
        width: 500px;
        transition: 0.5s;
    }
    .imagem-costura02 img{
        max-width: 100%;
    }
}

@media screen and (max-width: 750px){
    header{
        flex-direction: column;
    }
    #menu{
        margin-top: 30px;
        margin-bottom: 10px;
        font-size: 0.8em;
    }
    main article h2{
        font-size: 2.5em;
        transition: 0.5s;
    }
    #image{
        display: none;
    }
    article{
        margin: 0px 10px;
    }
    .fieldform{
        width: 400px;
        transition: 0.5s;
    }
    .conteudo-servicos{
        flex-direction: column;
    }
    .imagem-costura01 > img{
        max-width: 350px;
    }
    
    .imagem-costura02 > img{
        margin-top: 10px;
        max-width: 350px;
    }

}
@media (max-width: 412px){
    #menu{
        display: none;
    }
    .imagem-costura01 img{
        max-width: 100%;
    }

    .imagem-costura02 img{
        max-width: 100%;
    }
    main > article{
        max-width: 300px;
    }
}